################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
/packages/
.vs
.git
.idea
*.suo
*.user
*.DotSettings*
*.dgml
